.form-box {
  margin-top: 50px;
}

.form-row {
  display: flex;
  flex-direction: column;
  margin: 20px 0px 20px 0px;
  width: 100%;
}

.form-label {
  font-size: 1.4rem;
}

.input-smaller {
  margin-top: 6px;
  border-radius: 12px;
  border: 1.5px solid black;
  height: 20px;
  padding: 10px 10px 10px 10px;
}

.input-larger {
  margin-top: 6px;
  border-radius: 20px;
  border: 1.5px solid black;
  padding: 10px 10px 10px 10px;
  height: 100px;
  overflow: auto;
  resize: none;
}

.form-button {
  background-color: white;
  border: 2px solid var(--main-color);
  padding: 3px 20px 3px 20px;
  border-radius: 20px;
  color: var(--main-color);
  font-size: 1rem;
  cursor: pointer;
}

.footer-add {
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .form-row {
    display: flex;
    flex-direction: column;
    margin: 20px 0px 20px 0px;
    width: 100%;
  }

  .content-box {
    width: 300px;
  }
}
