@import "reset.css";
@import "fonts.css";
@import "navigation.css";
@import "articles.css";

:root {
  --main-color: #57b7f2;
  --secondary-color: #018ce2;
}

.footer {
  margin: 100px 0 20px 0;
  text-align: center;
}
